.outer-div{
    height: 100vh;
}
.image-div-style{
    height:70px;
}
.header-div-in{
    height:15px;
}
.header-in{
    font-weight:400; line-height: 1.333; font-size:24px; 
}
.fundoo-header{
    font-weight:400
}
.field{
    width: 100%;
}
.register{
    text-align: left;
    color: rgb(42, 123, 245)
}
.loginbutton{
    color: azure;
    background-color:rgb(42, 123, 245)
}